<div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 mailbox">
            <mat-sidenav-container>
                <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'"
                             class="mailbox-sidenav mat-elevation-z1">
                    <mat-toolbar color="primary" class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
                        <input [(ngModel)]="searchText" type="text" (keyup)="searchForMail()"
                               placeholder=" {{'GENERIC.ticketNum.search'|translate}}..." class="search mat-elevation-z3">
                        <button mat-icon-button [matMenuTriggerFor]="filterMenu" #filterMenuTrigger="matMenuTrigger" *ngIf="routeTicketId">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-toolbar>
                    <mat-menu #filterMenu="matMenu" xPosition="before" overlapTrigger="true" >
                        <span (mouseleave)="filterMenuTrigger.closeMenu()">
                            <button mat-menu-item (click)="type = 'all';getMails();">{{'GENERIC.viewAll'|translate}}</button>
                <!--            <button mat-menu-item (click)="type = 'starred';getMails();">Starred</button>
                            <button mat-menu-item (click)="type = 'sent';getMails();">Sent</button>
                            <button mat-menu-item (click)="type = 'drafts';getMails();">Drafts</button>
                            <button mat-menu-item (click)="type = 'trash';getMails();">Trash</button>-->
                        </span>
                    </mat-menu>

                    <mat-nav-list *ngIf="dataSource" class="p-0 mailbox-sidenav-list" perfectScrollbar>
                        <div *ngIf="dataSource && dataSource.data.length==0" style="background-color: #efc371">
                            <h4> {{'GENERIC.result.empty' | translate }}</h4>
                        </div>
                        <div *ngFor="let mail of dataSource.data " (click)="viewDetail(mail)">
                            <span ><h4 style="font-weight: bolder" > {{ '#' + mail.ticketScNumber}}</h4></span>
                            <div class=" {{mail.ticketTypeId==1 ? 'ticket-Tech ':'ticket-Ques'}}">
                                <mat-list-item [ngClass]="{'unread': true, 'selected': mail.selected}">
<!--                                    <img matListAvatar src="assets/img/users/default-user.jpg">-->
                                    <mat-icon matListAvatar color="{{mail.status==1 ?'primary':''}}">{{mail.status==1 ?'assignment_turned_in':'assignment_turned_off'}} </mat-icon>
                                    <div matLine fxLayout="row" fxLayoutAlign="space-between space-between">
                                        <h4 class="text-truncate sender">  {{mail.sender}}</h4>
                                        <small>{{mail.date|date}} {{mail.date|date:'shortTime'}}</small>
                                    </div>
                                    <p matLine class="text-truncate subject" style="color: #257995">{{mail.subject}}</p>

                                </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>

                        </div>
                        <app-pagination [componentObject]="this"></app-pagination>
                    </mat-nav-list>

                </mat-sidenav>
                <div>
                    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>list</mat-icon>
                            </button>
                            <button *ngIf="mail && mail.status==0 " mat-icon-button matTooltip="{{'GENERIC.reply.add'|translate}}" (click)="prepareReply()" matTooltipPosition="above">
                                <mat-icon>reply</mat-icon>
                            </button>
                    <!--        <button *ngIf="newMail" mat-icon-button (click)="newMail = false;" matTooltip="Back"
                                    matTooltipPosition="above">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                            <button *ngIf="mail && type !='trash'" mat-icon-button (click)="changeStarStatus()"
                                    matTooltip="Mark as inportant" matTooltipPosition="above" fxShow="false"
                                    fxShow.gt-xs>
                                <mat-icon *ngIf="mail.starred">star</mat-icon>
                                <mat-icon *ngIf="!mail.starred">star_border</mat-icon>
                            </button>
                            <button *ngIf="mail && type=='trash'" mat-icon-button (click)="restore()"
                                    matTooltip="Restore" matTooltipPosition="above">
                                <mat-icon>undo</mat-icon>
                            </button>
                            <button *ngIf="mail" mat-icon-button matTooltip="Report spam" matTooltipPosition="above"
                                    fxShow="false" fxShow.gt-xs>
                                <mat-icon>error</mat-icon>
                            </button>
                            <button *ngIf="mail && type !='trash'" mat-icon-button (click)="delete()"
                                    matTooltip="Move to trash" matTooltipPosition="above">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" #moreMenuTrigger="matMenuTrigger"
                                    [style.display]="(mail) ? 'block' : 'none'">
                                <mat-icon>more_vert</mat-icon>
                            </button>-->
                        </div>
                        <button *ngIf="!replyEvent && partyId==PARTY.STUDENT" mat-raised-button color="accent" (click)="compose()"> {{'GENERIC.compose'|translate}}</button>
                    </mat-toolbar>
      <!--              <mat-menu #moreMenu="matMenu" xPosition="before" overlapTrigger="true">
                        <span (mouseleave)="moreMenuTrigger.closeMenu()">
                            <button mat-menu-item (click)="setAsRead()">Mark as read</button>
                            <button mat-menu-item (click)="setAsUnRead()">Mark as unread</button>
                            <button mat-menu-item (click)="delete()">Delete</button>
                        </span>
                    </mat-menu>-->
                    <div class="mailbox-content" id="mailbox-content" perfectScrollbar>
                        <!--class=" {{mail.ticketTypeId==1 ? 'ticket-Tech ':'ticket-Ques'}}"-->
                        <div *ngIf="mail" class="subject-dev"   matLine fxLayout="row" fxLayoutAlign="space-between center">
                            <h2 class="subject"> {{mail.subject}}</h2>
                            <mat-chip-list>
                                <mat-chip  class="{{mail.ticketTypeId==1 ? 'chip-warn':'chip-primary'}} " > {{'#'}} {{mail.ticketScNumber}}</mat-chip>
                                |
                                 <mat-chip  color="primary" >{{isArabicLang()? mail.typeNameAr:mail.typeNameNameEn}}</mat-chip>
                                |
                                <mat-chip  color="primary" >{{isArabicLang()? mail.partyNameAr:mail.partyNameEn}}</mat-chip>

                                <button *ngIf="!replyEvent && partyId==PARTY.GUIDER && mail.status==0" mat-raised-button color="warn" (click)="closeTicket(mail)"> {{'GENERIC.closeTicket'|translate}}</button>
                                <mat-chip *ngIf="mail.status==1"  style="background-color: #ff5252; color: white" >{{'GENERIC.closed'|translate}}</mat-chip>
                            </mat-chip-list>
                        </div>

                        <mat-divider ></mat-divider>
                        <div *ngIf="mail" >
                        <div *ngFor="let mail of ticketDetailsList" >
                            <mat-expansion-panel [expanded]="!mail.unread || mail.sender==currentUserName" (afterExpand)="setAsRead(mail)" >
                                <mat-expansion-panel-header class="sender" >
                                    <mat-panel-title> <mat-icon color="{{mail.sender==currentUserName? 'primary':'accent' }}">person</mat-icon> <strong class="text-truncate">{{mail.sender}}</strong>    </mat-panel-title>
                                    <mat-panel-description>
                                        <span>
                                            {{mail.date|date }}  {{mail.date|date :'shortTime'}}
                                            <mat-chip   style=" background-color: #257995 ;color: white" *ngIf="mail.unread && mail.sender!=currentUserName" >{{'GENERIC.new'|translate}}</mat-chip>
                                        </span>
                                    </mat-panel-description>

                                </mat-expansion-panel-header>
                                <div class="mail-body" [innerHTML]="mail.body"></div>
                            </mat-expansion-panel>
<!--                            <mat-progress-bar *ngIf="changeReadStatusEvent" mode="indeterminate"></mat-progress-bar>-->


                    <!--        <mat-list class="p-0">
                                <mat-list-item class="h-100 py-1 ticket-Det" >
                                    <img *ngIf="!mail.senderPhoto" matListAvatar src="assets/img/users/default-user.jpg">
                                    <h6 matLine fxLayout="row" fxLayoutAlign="space-between center">
                                        <span>
                                            <strong class="text-truncate">{{mail.sender}}</strong>
                                            <span *ngIf="mail.senderMail" class="email">&lt;{{mail.senderMail}}&gt;</span>
                                        </span>
                                        <span> {{mail.date|date }}  {{mail.date|date :'shortTime'}}</span>
                                    </h6>
                                </mat-list-item>
                                <div class="mail-body" [innerHTML]="mail.body"></div>
                                <mat-divider></mat-divider>
                            </mat-list>-->

                           <!-- Attachment <div *ngIf="mail.attachments.length > 0" class="mail-body">
                                <mat-divider></mat-divider>
                                <p>
                                    <strong>{{mail.attachments.length}} attachments</strong>
                                    <button mat-icon-button matTooltip="Download all attachments"
                                            matTooltipPosition="above">
                                        <mat-icon>file_download</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip="View all Images" matTooltipPosition="above">
                                        <mat-icon>pageview</mat-icon>
                                    </button>
                                </p>
                                <div *ngFor="let attachment of mail.attachments; let i = index">
                                    <img [src]="attachment" alt="attachment">
                                    <h3>image-{{i + 1}}.jpg</h3>
                                    <p>
                                        <span>457K</span>
                                        <button mat-icon-button>
                                            <mat-icon>file_download</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>pageview</mat-icon>
                                        </button>
                                    </p>
                                </div>
                            </div>-->
                        </div>
                    </div>
                        <button *ngIf="mail && mail.status==0 &&!replyEvent" style="float: left ;margin-top: 5px ;margin-bottom: 5px "  color="primary" mat-raised-button matTooltip="{{'GENERIC.reply.add'|translate}}" (click)="prepareReply()" matTooltipPosition="above">
                            {{'GENERIC.reply.add'|translate}}   <mat-icon>reply</mat-icon>
                        </button>

                        <div *ngIf="!mail && !newMail" fxLayout="column" fxLayoutAlign="center center"
                             class="h-100 empty">
                            <mat-icon>mail_outline</mat-icon>
                            <p>{{'GENERIC.selectToSee'|translate}}</p>
                        </div>
                        <div id="form"></div>
                        <form   *ngIf="newMail" [formGroup]="form" (ngSubmit)="replyEvent? replyAction(form.value): onSubmit(form.value)" class="mail-body">

                            <mat-form-field class="w-100" *ngIf="!replyEvent">
                                <mat-select placeholder="{{'GENERIC.type'| translate}}" formControlName="ticketTypeId">
                                    <mat-option [value]=" ">
                                        --{{'GENERIC.select'|translate}} {{'GENERIC.type' | translate }}--
                                    </mat-option>
                                    <mat-option [value]="item.value"
                                                *ngFor="let item of ticketsTypeList">{{item.nameAr }} </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.ticketTypeId.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-100" *ngIf="!replyEvent">
                                <input  matInput placeholder="{{'GENERIC.subject'|translate}}" formControlName="subject">
                                <mat-error *ngIf="form.controls.subject.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                                <mat-error *ngIf="form.controls.subject.hasError('maxlength')">{{'GENERIC.reply.subject.max'|translate}}</mat-error>

                            </mat-form-field>

                            <quill-editor formControlName="message" [formats]="formats"
                                          placeholder="{{'GENERIC.desc'|translate}}..."></quill-editor>
                            <mat-error *ngIf="form.controls.message.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                            <mat-error *ngIf="form.controls.message.hasError('maxlength')">{{'GENERIC.reply.body.max'|translate}}</mat-error>

                            <div  *ngIf="replyEvent" fxLayout="row" fxLayoutAlign="space-between center">
                                <button mat-raised-button (click)="cancelReply()" type="button"> {{'GENERIC.cancel'|translate}} </button>
                                <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">{{'GENERIC.send'|translate}}
                                </button>
                            </div>

                            <div *ngIf="!replyEvent" fxLayout="row" fxLayoutAlign="space-between center">
                                <button mat-raised-button (click)="newMail = false;" type="button">{{'GENERIC.cancel'|translate}}</button>
                                <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">{{'GENERIC.send'|translate}}
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>
<br>
<br>
