
<div fxLayout="column" fxLayoutAlign="center center" class="landing-header">
    <p class="logo">ارشاد</p>
    <p class="intro-text">ملتقى الطلاب الخريجين و الجدد  </p>
    <p class="desc m-0" *ngIf="!isLoggedIn">بادر بانشاء حسابك كى تتمكن من التواصل مع الاخربن و الاستفادة من الخدمات  المقدمة على المنصة   </p>
    <p class="desc"> تنظيم مقابلات علمية و طرح مواضيع خاصة بالدراسة و العمل ومشاركة  الافكار </p>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button   mat-flat-button  *ngIf="!isLoggedIn" color="primary" style="margin-right: 3px" routerLink="/login">  {{'LANDING.LOGIN' | translate }}</button>
        <button   mat-flat-button *ngIf="!isLoggedIn" color="accent" style="margin-right: 3px" routerLink="/custReg"   > {{'LANDING.REGISTER' | translate }} </button>
    </div>

</div>


<div class="container">
    <h2 class="muted-text">الخدمات المقدمة على المنصة</h2>
        <div fxLayout="row wrap" class="py-1">

            <div fxFlex="100" fxFlex.gt-sm="25" class="demo">
                <p class="text">خدمة (Topics)</p>
                <a routerLink="/" (click)="changeLayout('horizontal','compact', false)" class="link">
                    <img src="assets/img/landing/thinking.jpg">
                </a>
            </div>

        <div fxFlex="100" fxFlex.gt-sm="25" class="demo">
            <p class="text">تنظيم مقابلات علمية</p>
            <a routerLink="/" (click)="changeLayout('vertical','default', false)" class="link">
                <img src="assets/img/landing/meetings.jpg">
            </a>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="demo">
            <p class="text">محادثات علمية مع الطلاب الخريجين</p>
            <a routerLink="/" (click)="changeLayout('horizontal','default', false)" class="link">
                <img src="assets/img/landing/topics.jpg">
            </a>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="demo">
            <p class="text">جدول زمني لتنظيم مواعيدك العلمية</p>
            <a routerLink="/" (click)="changeLayout('vertical','compact', false)" class="link">
                <img src="assets/img/landing/scheduler.jpg">
            </a>
        </div>



    </div>


</div>

<!--<div class="bg-primary w-100">
    <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-between center" class="landing-footer">
        <span>Copyright ©2018 All Rights Reserved</span>
        <span>made by <a mat-button href="https://themeforest.net/user/theme_season/portfolio" target="blank">ThemeSeason</a></span>
    </div>
</div>-->
