<div fxLayout="column" fxLayoutAlign="center center" class="landing-header">
    <p class="logo">{{'guider.logo'|translate}}</p>
    <p class="intro-text">{{'guider.intro-text'|translate}}  </p>
    <p class="desc m-0" *ngIf="!isLoggedIn">{{'guider.desc1'|translate}}</p>
    <p class="desc">{{'guider.desc2'|translate}} </p>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button   mat-flat-button  *ngIf="!isLoggedIn" color="primary" style="margin-right: 3px" routerLink="/login">  {{'LANDING.LOGIN' | translate }}</button>
        <button   mat-flat-button *ngIf="!isLoggedIn" color="accent" style="margin-right: 3px" routerLink="/custReg"   > {{'LANDING.REGISTER' | translate }} </button>
    </div>

</div>


<div class="container">
    <h2 class="muted-text">{{'guider.header'|translate}} </h2>
        <div fxLayout="row wrap" class="py-1">

            <div fxFlex="100" fxFlex.gt-sm="25" class="demo">
                <p class="text"> <mat-icon> post_add</mat-icon>{{'guider.topics'|translate}}</p>
                <a routerLink="/topics"   class="link">
                    <img src="assets/img/landing/thinking.jpg">
                </a>
            </div>

        <div fxFlex="100" fxFlex.gt-sm="25" class="demo">
            <p class="text"> <mat-icon> people</mat-icon> {{'guider.meetings'|translate}}</p>
            <a routerLink="/" (click)="changeLayout('vertical','default', false)" class="link">
                <img src="assets/img/landing/mm.jpg">
            </a>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="demo">
            <p class="text"><mat-icon> chat</mat-icon> {{'guider.chat'|translate}}</p>
            <a routerLink="/" (click)="changeLayout('horizontal','default', false)" class="link">
                <img src="assets/img/landing/chatting.jpg">
            </a>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="demo">
            <p class="text"> <mat-icon> today</mat-icon> {{'guider.sheduals'|translate}}</p>
            <a routerLink="/" (click)="changeLayout('vertical','compact', false)" class="link">
                <img src="assets/img/landing/scheduler.jpg">
            </a>
        </div>



    </div>


</div>




