<div *ngIf="dataSource" fxLayout="row wrap">
    <div *ngFor="let meeting of dataSource.data"  fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{meeting.title}}</mat-card-title>
                <mat-card-subtitle> {{meeting.description}}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="meeting.id%2==0"  mat-card-image src="assets/img/landing/thinking.jpg" alt="Photo 6">
            <img  *ngIf="meeting.id%2>0"  mat-card-image src="assets/img/landing/mm.jpg" alt="Photo 6">

            <mat-card-content>
                <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
                        <div class="user-img">
                            <img   src="assets/img/users/default-user.jpg" class="transition-2"  >

                        </div>
                        <div class="user-social">
                            <span style="font-weight: bold">{{meeting.createdBy}}</span>
                        </div>

                    </div>
                    <!--                [class.blocked]="user.settings.isDeleted"-->
                    <div fxFlex="70" fxLayout="column" class="user-details transition-2" >
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">location_on</mat-icon>
                            <span>{{meeting.place}}</span>
                        </p>

                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">date_range</mat-icon>
                            <span>{{meeting.date |date}} </span>
                        </p>

                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="muted-text">date_range</mat-icon>
                            <span> {{meeting.time >12 ? (meeting.time -12) + ' '+ ('guider.meetings.pm'|translate ): meeting.time +' '+('guider.meetings.am'|translate)}}</span>
                        </p>



                    </div>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button mat-flat-button (click)="addToSchedual(meeting)" color="accent" style="float: left">{{'guider.meetings.schedual'|translate}}</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>
