

        <mat-card class="p-0 text-center">
            <mat-card class="p-0 text-center">
              <mat-paginator #paginator class="gradus-pagination"
               [length]="componentObject.length"
               [pageIndex]="componentObject.pageIndex"
               [pageSize]="componentObject.pageSize"
               [pageSizeOptions]="[10, 25, 50]"
               (page)="componentObject.paginationHandel($event)">
              </mat-paginator>
            </mat-card>
        </mat-card>



<br/> <br/>
<div  fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 text-center">
            <pagination-controls class="gradus-pagination" autoHide="true" maxSize="3"></pagination-controls>
        </mat-card>
    </div>
</div>
     <!--   [pageSizeOptions]="[10, 25, 100]"-->
