.card-border-event-past{
    border-right: 10px  solid rgba(37,121,149,0.41);
}

.border-event-future{
    border-right: 10px  solid #257995;
}

.border-event-today{
    border-right: 10px  solid #ad2121;
}
