<div>
<div fxLayoutAlign="end center" class="closeBtn">
    <button   matTooltip="{{'GENERIC.action.close' |translate}}" mat-icon-button matSuffix  color="warn"   type="button"    (click)="close()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>

<h2 mat-dialog-title>
    <span>{{'sv.addSv'|translate}}</span></h2>

<form [formGroup]="form" class="user-form" (ngSubmit)="saveNewSv()">
    <mat-card class="mat-card-border">
        <mat-card-header>
            <mat-card-subtitle><h3>{{'GENERIC.data'|translate}}</h3></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row">
                <mat-form-field>
                    <mat-select formControlName="typeId" placeholder="{{'sv.type'| translate}}">
                        <mat-option [value]=" "> --{{'GENERIC.select'|translate}} {{'sv.type' | translate }}--
                        </mat-option>
                        <mat-option [value]="item.value"
                                    *ngFor="let item of svTypes">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                    </mat-select>
                    <mat-error
                            *ngIf="form.controls.typeId.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="{{'sv.nameAr'| translate}}" formControlName="nameAr">
                    <mat-error
                            *ngIf="form.controls.nameAr.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="{{'sv.nameEn'| translate}}" formControlName="nameEn">
                    <mat-error
                            *ngIf="form.controls.nameEn.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="{{'sv.licenseNum'| translate}}" formControlName="licenseNum">
                    <mat-error *ngIf="form.controls.licenseNum.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.licenseNum.errors?.pattern">{{'validation.err.email' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.licenseNum.hasError('maxlength')">{{'validation.err.email'|translate}}</mat-error>

                </mat-form-field>

            </div>

            <div fxLayout="row">

                <mat-form-field>
                    <input matInput placeholder="{{'sv.maxSeats'| translate}}" formControlName="maxSeatsNum">
                    <mat-error
                            *ngIf="form.controls.maxSeatsNum.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.maxSeatsNum.errors?.pattern">{{'validation.err.email' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.maxSeatsNum.hasError('maxlength')">{{'validation.err.email'|translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="{{'sv.pricePerHour'| translate}}" formControlName="pricePerHour">
                    <mat-error
                            *ngIf="form.controls.pricePerHour.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.pricePerHour.errors?.pattern">{{'validation.err.email' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.pricePerHour.hasError('maxlength')">{{'validation.err.email'|translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="{{'sv.minHourForHire'| translate}}" formControlName="minHourForHire">
                    <mat-error *ngIf="form.controls.minHourForHire.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.minHourForHire.errors?.pattern">{{'validation.err.email' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.minHourForHire.hasError('maxlength')">{{'validation.err.email'|translate}}</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row">
            <mat-form-field>
                <mat-select (selectionChange)="prepareCitiesList()" formControlName="countryId" placeholder="{{'registration.country'| translate}}">
                    <mat-option [value]=" ">
                        --{{'GENERIC.select'|translate}} {{'registration.country' | translate }}--
                    </mat-option>
                    <mat-option    [value]="item.value"
                                *ngFor="let item of sysCountries">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                </mat-select>
                <mat-error
                        *ngIf="form.controls.countryId.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
            </mat-form-field>



            <mat-form-field>
                <mat-select formControlName="cityId" placeholder="{{'registration.city'| translate}}">
                    <mat-option [value]=" "> --{{'GENERIC.select'|translate}} {{'registration.city' | translate }}
                        --
                    </mat-option>
                    <mat-option [value]="item.value"
                                *ngFor="let item of cities">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                </mat-select>
                <mat-error
                        *ngIf="form.controls.cityId.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
            </mat-form-field>


            <mat-form-field>
                <input matInput placeholder="{{'sv.locationAddress'| translate}}" formControlName="locationAddress">
                <mat-error
                        *ngIf="form.controls.locationAddress.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
            </mat-form-field>
            </div>


            <div fxLayout="row">

                <mat-form-field>
                    <textarea matInput placeholder="{{'sv.descAr'| translate}}"
                              formControlName="descriptionAr"></textarea>
                    <mat-error
                            *ngIf="form.controls.descriptionAr.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                </mat-form-field>


                <mat-form-field>
                    <textarea matInput placeholder="{{'sv.descEn'| translate}}"
                              formControlName="descriptionEn"></textarea>
                    <mat-error
                            *ngIf="form.controls.descriptionEn.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                </mat-form-field>

            </div>
        </mat-card-content>
    </mat-card>
    <br/>
    <mat-card class="mat-card-border">
        <mat-card-header>
            <mat-card-subtitle><h3>{{'sv.features'|translate}}</h3></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row">
                <mat-slide-toggle [labelPosition]="'before'"  style="margin-right: 14px"     formControlName="hasToiletValue"
                                   color="primary"    > {{'sv.services.toilet'|translate}}</mat-slide-toggle>
                <label>|</label>
                <mat-slide-toggle  [labelPosition]="'before'"   style="margin-right: 14px"     formControlName="hasKitchenValue"
                                    color="primary"    > {{'sv.services.kitchen'|translate}}</mat-slide-toggle>
                <label>|</label>
                <mat-slide-toggle  [labelPosition]="'before'"  style="margin-right: 14px"      formControlName="hasEmergencyToolsValue"
                                   color="primary"    > {{'sv.services.emergencyTools'|translate}}</mat-slide-toggle>
                <label>|</label>
                <mat-slide-toggle  [labelPosition]="'before'"   style="margin-right: 14px"     formControlName="hasFishingToolsValue"
                                    color="primary"    > {{'sv.services.fishingTools'|translate}}</mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
    <br/>
    <mat-card class="mat-card-border">
        <mat-card-header>
            <mat-card-subtitle><h3>{{'GENERIC.attachments'|translate}}</h3></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div fxLayout="row">
                <mat-form-field>
                    <ngx-mat-file-input #file1 [formControl]="masterPicFileControl" [accept]="'image/*'"
                                        placeholder="{{'sv.masterPic'|translate}}" required="true"></ngx-mat-file-input>
                    <button matTooltip="{{'GENERIC.action.viewAtt' |translate}}" mat-flat-button class="m-1"
                            color="primary" type="button" mat-icon-button matSuffix *ngIf="!file1.empty"
                            (click)="fileMasterPicView(masterPicFileControl)">
                        <mat-icon>pageview</mat-icon>
                    </button>
                    <button matTooltip="{{'GENERIC.action.delete' |translate}}" mat-flat-button class="m-1" color="warn"
                            type="button" mat-icon-button matSuffix *ngIf="!file1.empty"
                            (click)="removeMasterPicFile(masterPicFileControl)">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <mat-hint>{{'sv.masterPic'|translate}}</mat-hint>
                    <mat-error *ngIf="masterPicFileControl.errors?.required">{{'GENERIC.required' | translate}} </mat-error>
                    <mat-error *ngIf="masterPicFileControl.errors?.accept">{{'validation.file.type.error'|translate}}</mat-error>
                    <mat-error *ngIf="masterPicFileControl.errors?.maxSize">{{'validation.file.size.error'|translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <ngx-mat-file-input #file2 [formControl]="ownerShipFileControl" [accept]="'image/*,.pdf'"
                                        placeholder="{{'sv.ownershipPic'|translate}}"
                                        required="true"></ngx-mat-file-input>
                    <button matTooltip="{{'GENERIC.action.viewAtt' |translate}}" mat-flat-button class="m-1"
                            color="primary" type="button" mat-icon-button matSuffix *ngIf="!file2.empty"
                            (click)="fileMasterPicView( ownerShipFileControl)">
                        <mat-icon>pageview</mat-icon>
                    </button>
                    <button matTooltip="{{'GENERIC.action.delete' |translate}}" mat-flat-button class="m-1" color="warn"
                            type="button" mat-icon-button matSuffix *ngIf="!file2.empty"
                            (click)="removeMasterPicFile(ownerShipFileControl )">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <mat-hint>{{'sv.ownershipPic'|translate}}</mat-hint>
                    <mat-error *ngIf="ownerShipFileControl.errors?.required">{{'GENERIC.required' | translate}} </mat-error>
                    <mat-error *ngIf="ownerShipFileControl.errors?.accept">{{'validation.file.type.error'|translate}}</mat-error>
                    <mat-error *ngIf="ownerShipFileControl.errors?.maxSize">{{'validation.file.size.error'|translate}}</mat-error>
                </mat-form-field>

                <!--        <mat-form-field     >
                            <ngx-mat-file-input    #file3 [formControl]="licenseFileControl"     placeholder="{{'sv.LicensePhoto'|translate}}"   required="true"   ></ngx-mat-file-input>
                            <button  matTooltip="{{'GENERIC.action.viewAtt' |translate}}"  mat-flat-button class="m-1" color="primary"   type="button" mat-icon-button matSuffix *ngIf="!file3.empty" (click)="fileMasterPicView(licenseFileControl)">
                                <mat-icon>pageview</mat-icon>
                            </button>
                            <button  matTooltip="{{'GENERIC.action.delete' |translate}}"  mat-flat-button class="m-1" color="warn"   type="button" mat-icon-button matSuffix *ngIf="!file3.empty" (click)="removeMasterPicFile(licenseFileControl)">
                                <mat-icon>clear</mat-icon>
                            </button>
                            <mat-hint>{{'sv.LicensePhoto'|translate}}</mat-hint>
                            <mat-error *ngIf="licenseFileControl.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                        </mat-form-field>-->
            </div>
            <!--  <div fxLayout="row"    >
                     <mat-form-field     >
                         <ngx-mat-file-input    #file4 [formControl]="hiringFileControl"    placeholder="{{'sv.hiringPic'|translate}}"   required="true"   ></ngx-mat-file-input>
                         <button  matTooltip="{{'GENERIC.action.viewAtt' |translate}}"  mat-flat-button class="m-1" color="primary"   type="button" mat-icon-button matSuffix *ngIf="!file4.empty" (click)="fileMasterPicView(hiringFileControl)">
                             <mat-icon>pageview</mat-icon>
                         </button>
                         <button  matTooltip="{{'GENERIC.action.delete' |translate}}"  mat-flat-button class="m-1" color="warn"   type="button" mat-icon-button matSuffix *ngIf="!file4.empty" (click)="removeMasterPicFile(hiringFileControl)">
                             <mat-icon>clear</mat-icon>
                         </button>
                         <mat-hint>{{'sv.hiringPic'|translate}}</mat-hint>
                          <mat-error *ngIf="hiringFileControl.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                     </mat-form-field>
              </div>-->
        </mat-card-content>
    </mat-card>


    <br>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid  || !ownerShipFileControl.valid || !masterPicFileControl.valid || submitted" >
            <span>{{'GENERIC.save'|translate}}</span>
        </button>
        <button mat-raised-button color="accent" type="button" [disabled]="submitted"
                (click)="close()">{{'GENERIC.cancel'|translate}}</button>
    </div>

</form>

    <div *ngIf="submitted" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>
</div>

