<div  style="padding: 1% 5%;">
<div  class="flex-p"   >
    <!--start card   -->
    <mat-card class="custom-card">


        <!--start card header  -->
        <mat-card-header class="bg-primary" fxLayoutAlign="space-between center">
            <mat-card-title class="p-1"><h6>{{'sv.Reqs'|translate}}</h6></mat-card-title>
<!--            [matMenuTriggerFor]="generalAction" #menuTrigger="matMenuTrigger"-->
            <button *hasPermission="permsEnum.SP_ADD_SV_REQUEST"  (click)="addSv()" matTooltip="{{'sv.addSv'|translate}}"  mat-icon-button >
                <mat-icon>add</mat-icon>
            </button>

        </mat-card-header>
        <!--end card header  -->


        <!--start card content  -->
        <mat-card-content class="p-">


            <!-- start include App filter Component -->
            <app-filter-form  [componentObject]="this"></app-filter-form>
            <!-- end include App filter Component -->


            <!--                  <div  class="flex-p" >-->
            <!--start table  -->   <!--  matSortDisableClear matSortDirection="desc"-->
            <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                       (matSortChange)="sortColumn($event)">

                <ng-container matColumnDef="reqId">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'GENERIC.reqId'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.reqId}} </mat-cell>
                </ng-container>

                    <ng-container matColumnDef="nameAr">
                       <mat-header-cell *matHeaderCellDef>
                           <label class="table-cell-light">{{'sv.nameAr'| translate}}</label>
                       </mat-header-cell>
                       <mat-cell *matCellDef="let item"> {{item.nameAr}} </mat-cell>
                   </ng-container>

                <ng-container matColumnDef="nameEn">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'sv.nameEn'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.nameEn}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'sv.type'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.typeName}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="licenseNum">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'sv.licenseNum'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.licenseNum}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="country">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'USERS.country'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.countryName}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'registration.city'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.cityName}} </mat-cell>
                </ng-container>



                <ng-container matColumnDef="reqStatus">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'GENERIC.reqStatus'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell  *matCellDef="let item">
                        <mat-chip-list>
                            <mat-chip  color="{{item.reqStatusColor}}" selected="true"  class="info-chip">
                                <!-- <mat-icon class="icon-sm">trending_up</mat-icon>37%&ndash;&gt;-->
                                {{item.reqStatusStr | translate }}
                            </mat-chip>
                        </mat-chip-list>

                    </mat-cell>
                </ng-container>





               <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'GENERIC.actions'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">

                        <ng-container >
                            <button   (click)="viewSv(item)"   mat-button color="primary" >
                                <mat-icon>pageview</mat-icon>
                                <span>{{'GENERIC.action.view'|translate}}</span>
                            </button>
                        </ng-container>

                    </mat-cell>
                </ng-container>
                <!--end Actions container -->


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <!--end table  -->



        </mat-card-content>
        <!--end card content  -->

        <!--start include  paginator -->
        <app-pagination [componentObject]="this"></app-pagination>
        <!--end  include paginator -->

    </mat-card>
    <!--start card   -->




    <!--spinner-->
    <div *ngIf="!dataSource" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>


</div>
</div>
