
<!--<mat-card-header fxLayoutAlign="center center">
    <mat-card-subtitle><h2>{{repName}}</h2></mat-card-subtitle>
</mat-card-header>-->
<mat-card class="p-0">
    <mat-card-header class="bg-primary" fxLayoutAlign="space-between center">
        <mat-card-title class="p-1"><h6>{{'GENERIC.data' | translate}}</h6></mat-card-title>
        <button   matTooltip="{{'GENERIC.action.edit' | translate}}" *ngIf="!dataFormEnableFlag" (click)="enableUserDataForm()"  mat-icon-button  >
            <mat-icon>edit</mat-icon>
        </button>

    </mat-card-header>
    <div *ngIf="loadFlag" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="row wrap" class="user-form p-1">

        <div  fxLayout="row wrap" >
            <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
                <mat-form-field class="w-100" style="margin-top: 20px;">
                    <input matInput placeholder="{{'registration.firstName'| translate}}" formControlName="firstName">
                    <mat-error *ngIf="form.controls.firstName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.firstName.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                </mat-form-field>

             <!--   <mat-form-field class="w-100" style="margin-top: 20px;">
                    <input matInput     matNativeControl placeholder="{{'registration.age'| translate}}" formControlName="age"  >
                    <mat-error *ngIf="form.controls.age.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.age.hasError('minlength')">{{'validation.err.email'|translate}}</mat-error>
                    <mat-error *ngIf="form.controls.age.hasError('maxlength')">{{'validation.err.email'|translate}}</mat-error>
                    <mat-error *ngIf="form.controls.age.hasError('min')">{{'validation.err.email'|translate}}</mat-error>
                    <mat-error *ngIf="form.controls.age.hasError('hasSpace')">{{'validation.err.email'|translate}}</mat-error>
                </mat-form-field>-->

                <mat-form-field class="w-100" style="margin-top: 20px;">
                    <input matInput placeholder="{{'registration.identityNum'| translate}}" formControlName="identityNum">
                    <mat-error *ngIf="form.controls.identityNum.hasError('minlength')">{{'validation.identity.ksa'|translate}}</mat-error>
                    <mat-error *ngIf="form.controls.identityNum.hasError('hasSpace')">{{'validation.identity.ksa'|translate}}</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" style="margin-top: 20px;">
                    <mat-select placeholder="{{'registration.city'| translate}}" formControlName="cityId" >
                        <mat-option [value]=" "> --{{'GENERIC.select'|translate}} {{'registration.city' | translate }}--</mat-option>
                        <mat-option [value]="item.value" *ngFor="let item of cities">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.cityId.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p"   >
                <mat-form-field class="w-100" style="margin-top: 20px;">
                    <input matInput placeholder="{{'registration.middleName'| translate}}" formControlName="middleName">
                </mat-form-field>

                <mat-form-field class="w-100" style="margin-top: 20px;">
                    <input matInput placeholder="{{'registration.phoneNum'| translate}}" formControlName="phoneNumber">
                    <mat-error *ngIf="form.controls.phoneNumber.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.phoneNumber.hasError('ksaPhone')">{{'validation.ksa.phone'|translate}}</mat-error>
                </mat-form-field>


                <mat-form-field class="w-100" style="margin-top: 20px;">
                    <input matInput placeholder="{{'registration.email'| translate}}" formControlName="email">
                    <mat-error *ngIf="form.controls.email.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.email.errors?.email">{{'validation.err.email'|translate}}</mat-error>
                </mat-form-field>


            </div>
            <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p" >

                <mat-form-field class="w-100" style="margin-top: 20px;">
                    <input matInput placeholder="{{'registration.lastName' | translate}}" formControlName="lastName">
                    <mat-error *ngIf="form.controls.lastName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    <mat-error *ngIf="form.controls.lastName.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" style="margin-top: 20px;">
                    <mat-select formControlName="cntryId" (selectionChange)="prepareCitiesList()"    placeholder="{{'registration.country'| translate}}" >
                        <mat-option [value]=" "> --{{'GENERIC.select'|translate}} {{'registration.country' | translate }}--</mat-option>
                        <mat-option [value]="item.value" *ngFor="let item of sysCountries">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.cntryId.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                </mat-form-field>




            </div>
        </div>
        <div fxFlex="100" class="p-1 text-center">
            <br>
            <button mat-raised-button color="primary" *ngIf="dataFormEnableFlag" [disabled]="submitted" class="uppercase mx-1" type="submit">{{'GENERIC.save' | translate}}</button>
            <button mat-raised-button color="accent"  *ngIf="dataFormEnableFlag" (click)="disableUserDataForm()" [disabled]="submitted" class="uppercase mx-1" type="button">{{'GENERIC.cancel' | translate}}</button>
        </div>

    </form>

</mat-card>
<br>
 <mat-divider> </mat-divider>
<div  fxLayout="row wrap" >
<div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="flex-p">
     <mat-card class="p-0">
         <mat-card-header class="bg-primary" fxLayoutAlign="space-between center">
             <mat-card-title class="p-1"><h6>{{'registration.settings.edit' | translate}}</h6></mat-card-title>
             <button matTooltip="{{'GENERIC.action.edit' | translate}}" *ngIf="!settingsFormEnableFlag" (click)="enableUserPreferncesForm()"  mat-icon-button  >
                 <mat-icon>edit</mat-icon>
             </button>
         </mat-card-header>

         <form [formGroup]="settingsForm" (ngSubmit)="onChangeSettingsSubmit()" fxLayout="row wrap" class="user-form p-1">
             <div  fxLayout="row wrap" >
                 <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
                     <mat-form-field class="w-100">
                         <mat-select placeholder="{{'LANDING.theme.lang'| translate}}" formControlName="lang"    >
                             <mat-option [value]=" "> &#45;&#45;{{'GENERIC.select'|translate}} {{'LANDING.theme.lang' | translate }}&#45;&#45;</mat-option>
                             <mat-option [value]="item.value" *ngFor="let item of langs">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                         </mat-select>
                         <mat-error *ngIf="settingsForm.controls.lang.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                     </mat-form-field>
                 </div>

                 <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
                     <mat-form-field class="w-100">
                         <mat-select placeholder="{{'LANDING.theme'| translate}}" formControlName="theme"    >
                             <mat-option [value]=" "> &#45;&#45;{{'GENERIC.select'|translate}} {{'LANDING.theme' | translate }}&#45;&#45;</mat-option>
                             <mat-option [value]="item.value" *ngFor="let item of themes">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                         </mat-select>
                         <mat-error *ngIf="settingsForm.controls.theme.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                     </mat-form-field>
                 </div>

                 <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
                     <mat-form-field class="w-100">

                         <mat-select placeholder="{{'LANDING.theme.currency'| translate}}" formControlName="currency"    >
                             <mat-option [value]=" "> &#45;&#45;{{'GENERIC.select'|translate}} {{'LANDING.theme.currency' | translate }}&#45;&#45;</mat-option>
                             <mat-option [value]="item.value" *ngFor="let item of currencies">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                         </mat-select>
                         <mat-error *ngIf="settingsForm.controls.currency.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                     </mat-form-field>
                 </div>




             </div>

             <div fxFlex="100" class="p-1 text-center">
                 <br>
                 <button mat-raised-button color="primary" *ngIf="settingsFormEnableFlag" [disabled]="submitted" class="uppercase mx-1" type="submit">{{'GENERIC.save' | translate}}</button>
                 <button mat-raised-button color="accent"  *ngIf="settingsFormEnableFlag" (click)="disableUserPreferncesForm()" [disabled]="submitted" class="uppercase mx-1" type="button">{{'GENERIC.cancel' | translate}}</button>

             </div>
         </form>

        </mat-card>
</div>

<div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="flex-p">
    <mat-card class="p-0">
        <mat-card-header class="bg-primary" fxLayoutAlign="space-between center">
            <mat-card-title class="p-1"><h6>{{'registration.password.edit' | translate}}</h6></mat-card-title>
            <button matTooltip="{{'GENERIC.action.edit' | translate}}" *ngIf="!passwordFormEnableFlag" (click)="enablePasswordForm()"  mat-icon-button  >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-header>

        <form [formGroup]="passwordForm" *ngIf="passwordFormEnableFlag" (ngSubmit)="onChangePasswordSubmit()" fxLayout="row wrap" class="user-form p-1">
            <div  fxLayout="row wrap" >
                <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'registration.password.old'| translate}}" formControlName="oldPassword" type="password"  >
                        <mat-error *ngIf="passwordForm.controls.oldPassword.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'registration.password.new'| translate}}" formControlName="newPassword" type="password"  >
                        <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                        <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">{{'validation.min.password'|translate}}</mat-error>
                        <mat-error *ngIf="passwordForm.controls.newPassword.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                    </mat-form-field>
                </div>


                <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="{{'registration.confirmPassword'| translate}}" formControlName="confirmPassword" type="password">
                        <mat-error *ngIf="passwordForm.controls.confirmPassword.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                        <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('mismatchedPasswords')">{{'validation.password.Notmatch'|translate}}</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div fxFlex="100" class="p-1 text-center">
                <br>
                <button mat-raised-button color="primary" *ngIf="passwordFormEnableFlag" [disabled]="submitted" class="uppercase mx-1" type="submit">{{'GENERIC.save' | translate}}</button>
                <button mat-raised-button color="accent"  *ngIf="passwordFormEnableFlag" (click)="disablePasswordForm()" [disabled]="submitted" class="uppercase mx-1" type="button">{{'GENERIC.cancel' | translate}}</button>

            </div>
        </form>




    </mat-card>
</div>
</div>
