<div fxLayoutAlign="end center" class="closeBtn">
    <button   matTooltip="{{'GENERIC.action.close' |translate}}" mat-icon-button matSuffix   type="button"  color="warn"   (click)="close()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>

<h1 mat-dialog-title>
    <span>{{'GENERIC.perms.update'|translate}} : {{user.firstName}}  {{user.lastName}}</span>
</h1>

<form    [formGroup]="form"   class="user-form" (ngSubmit)="updateUser()"  >

    <div  >
        <mat-card class="mat-card-border">
            <mat-card-header  >
                <mat-card-subtitle ><h3>{{'MENU.Adminstration.systemPerms'|translate}}</h3></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

                <mat-card-content>
                    <mat-selection-list  formControlName="selectedPermIds"  #perm>
                        <mat-list-option color="primary"  [value]="perm.id" *ngFor="let perm of perms" >
                            <mat-option  > {{perm.nameAr}}</mat-option>
                        </mat-list-option>
                    </mat-selection-list>
                </mat-card-content>
            </mat-card-content>
        </mat-card>

    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-raised-button type="submit" color="primary"   [disabled]="submitted" >
            <span >{{'GENERIC.save'|translate}}</span>
        </button>
        <button mat-raised-button color="accent" type="button" [disabled]="submitted" (click)="close()">{{'GENERIC.cancel'|translate}}</button>
    </div>

</form>

<!--spinner-->
<div *ngIf="load" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>
