.user-form{
    .form-field-outer{
        width: 280px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
}
.close-icon {
    transition: 1s ease-in-out;
    float: left;
  /*  top:-24px;
    right:-24px;*/
}

.closeBtn{
  margin-top: -28px ;
  margin-left: -22px;
}



.close-icon:hover {
    transform: rotate(180deg);
}


::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
}
