<div  style="padding: 1% 5%;">
<div  class="flex-p"   >
    <!--start card   -->
    <mat-card class="custom-card">


        <!--start card header  -->
        <mat-card-header class="bg-primary" fxLayoutAlign="space-between center">
            <mat-card-title class="p-1"><h6>{{'resv.prev.resrv.hiring'|translate}} </h6></mat-card-title>
        </mat-card-header>
        <!--end card header  -->


        <!--start card content  -->
        <mat-card-content class="p-">


            <!-- start include App filter Component -->
            <app-filter-form  [componentObject]="this"></app-filter-form>
            <!-- end include App filter Component -->

            <div *ngIf="dataSource && dataSource.data.length==0" fxLayout="row wrap" class="noResultDiv">
                <h4> {{'GENERIC.result.empty' | translate }}</h4>
            </div>

            <!--                  <div  class="flex-p" >-->
            <!--start table  -->   <!--  matSortDisableClear matSortDirection="desc"-->
            <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                       (matSortChange)="sortColumn($event)">

                    <ng-container matColumnDef="reservationRefNumber">
                       <mat-header-cell *matHeaderCellDef>
                           <label class="table-cell-light">{{'resv.number'| translate}}</label>
                       </mat-header-cell>
                       <mat-cell *matCellDef="let item"> {{item.reservationRefNumber}} </mat-cell>
                   </ng-container>

                <ng-container matColumnDef="orgName">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'resv.orgName'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.orgName}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'resv.date'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.startDate |date}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="fromHour">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'resv.from'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.fromHour | hoursPipe}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="toHour">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'resv.to'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.toHour | hoursPipe}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="numberOfPersons">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'resv.numOfPersons'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.numberOfPersons}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="hoursNumber">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'resv.hoursNum'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.hoursNumber}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="totalPrice">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'resv.price'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.totalPrice}} </mat-cell>
                </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'USERS.status'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let item">
                                <mat-chip style="font-size: small"  color="{{item.statusColor}}" selected="true"  class="info-chip">
                                    {{item.statusStr | translate }}
                                </mat-chip>

                        </mat-cell>
                    </ng-container>


                <ng-container matColumnDef="executeStatusStr">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'resv.exec.status'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell  *matCellDef="let item">
                        <mat-chip-list>
                            <mat-chip  color="{{item.executeStatusColor}}" selected="true" style="font-size: small"  class="info-chip">
                                {{item.executeStatusStr | translate }}
                            </mat-chip>
                        </mat-chip-list>

                    </mat-cell>
                </ng-container>




               <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'GENERIC.actions'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <!--*hasPermission="permsEnum.SP_UPDATE_RELATED_USERS_PERMISSIONS"-->
                        <ng-container >
                            <button (click)="viewResv(item)"     mat-button color="primary" >
                                <mat-icon>pageview</mat-icon>
                                <span>{{'GENERIC.action.view'|translate}}</span>
                            </button>
                        </ng-container>


                    </mat-cell>
                </ng-container>
                <!--end Actions container -->


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <!--end table  -->



        </mat-card-content>
        <!--end card content  -->

        <!--start include  paginator -->
        <app-pagination [componentObject]="this"></app-pagination>
        <!--end  include paginator -->

    </mat-card>
    <!--start card   -->




    <!--spinner-->
    <div *ngIf="!dataSource" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>


</div>
</div>
