<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100 ">

         <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"  fxFlex="80" fxFlex.gt-sm="80" fxFlex.sm="60">
<!--             class="p-0 mat-elevation-z24 box register"-->
              <mat-card   >
                  <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                      <br>
                      <button   type="button" mat-fab color="accent" class="mat-elevation-z12" >
                          <mat-icon>person_add</mat-icon>
                      </button>
                      <a mat-button routerLink="/login">{{'registration.alreadyHasAccount'| translate}}</a>
                  </div>
                  <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                          <span class="box-content-header">{{'registration.sp.reg'| translate}}</span>

                              <mat-radio-group formControlName="typeId" >
                                  <mat-radio-button [value]="Constants.SP_TYPE_COMP" class="mx-1">{{'SP.type.organisation'| translate}}</mat-radio-button>
                                  <mat-radio-button [value]="Constants.SP_TYPE_INDIV" class="mx-1">{{'SP.type.individual'| translate}}</mat-radio-button>
                              </mat-radio-group>


                          <div  fxLayout="row wrap" >


                          <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
                              <mat-form-field class="w-100" *ngIf="form.controls.typeId.value==Constants.SP_TYPE_INDIV">
                                  <input matInput  placeholder="{{'SP.IdNo'| translate}}" formControlName="idNo">
<!--                                  <mat-error *ngIf="form.controls.idNo.errors?.required">{{'GENERIC.required' | translate}}</mat-error>-->
                                  <mat-error *ngIf="form.controls.idNo.hasError('minlength')">{{'validation.identity.ksa'|translate}}</mat-error>
                                  <mat-error *ngIf="form.controls.idNo.hasError('hasSpace')">{{'validation.identity.ksa'|translate}}</mat-error>
                                  <mat-error *ngIf="form.controls.idNo.hasError('maxlength')">{{'validation.identity.ksa'|translate}}</mat-error>

                              </mat-form-field>

                              <mat-form-field class="w-100" *ngIf="form.controls.typeId.value==Constants.SP_TYPE_COMP">
                                  <input matInput placeholder="{{'registration.sp.name'| translate}}" formControlName="organisationName">
                                  <mat-error *ngIf="form.controls.organisationName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                              </mat-form-field>

                          <mat-form-field class="w-100">
                            <input matInput placeholder="{{'registration.firstName'| translate}}" formControlName="firstName">
                            <mat-error *ngIf="form.controls.firstName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                              <mat-error *ngIf="form.controls.firstName.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                          </mat-form-field>



                      <mat-form-field class="w-100">
                          <input matInput placeholder="{{'registration.email'| translate}}" formControlName="email">
                          <mat-error *ngIf="form.controls.email.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                          <mat-error *ngIf="form.controls.email.errors?.email">{{'validation.err.email'|translate}}</mat-error>
                      </mat-form-field>

                      <mat-form-field class="w-100">
                          <input matInput placeholder="{{'registration.userName'| translate}}" formControlName="userName">
                          <mat-error *ngIf="form.controls.userName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                          <mat-error *ngIf="form.controls.userName.hasError('minlength')">{{'validation.min.userName'|translate}}</mat-error>
                          <mat-error *ngIf="form.controls.userName.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>

                      </mat-form-field>

                 </div>
                  <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p" >

                      <mat-form-field class="w-100"  *ngIf="form.controls.typeId.value==Constants.SP_TYPE_INDIV">
                          <ngx-mat-file-input #file1 formControlName="IdentityPic" [accept]="'image/*'"
                                              placeholder="{{'SP.IdentityPic'|translate}}" >

                          </ngx-mat-file-input>
                          <button matTooltip="{{'GENERIC.action.viewAtt' |translate}}" mat-flat-button class="m-1"
                                  color="primary" type="button" mat-icon-button matSuffix *ngIf="!file1.empty"
                                  (click)="fileMasterPicView(Constants.SP_TYPE_INDIV)">
                              <mat-icon>pageview</mat-icon>
                          </button>
                          <button matTooltip="{{'GENERIC.action.delete' |translate}}" mat-flat-button class="m-1" color="warn"
                                  type="button" mat-icon-button matSuffix *ngIf="!file1.empty"
                                  (click)="removeMasterPicFile(Constants.SP_TYPE_INDIV)">
                              <mat-icon>clear</mat-icon>
                          </button>
                          <mat-hint>{{'SP.IdentityPic'|translate}}</mat-hint>
                          <mat-error *ngIf="form.controls.IdentityPic.errors?.accept">{{'validation.file.type.error'|translate}}</mat-error>
                          <mat-error *ngIf="form.controls.IdentityPic.errors?.maxSize">{{'validation.file.size.error'|translate}}</mat-error>
                      </mat-form-field>


                      <mat-form-field class="w-100"  *ngIf="form.controls.typeId.value==Constants.SP_TYPE_COMP">
                          <ngx-mat-file-input #file2 formControlName="commRegFile" [accept]="'image/*'"
                                              placeholder="{{'SP.commRegNumPic'|translate}}" >

                          </ngx-mat-file-input>
                          <button matTooltip="{{'GENERIC.action.viewAtt' |translate}}" mat-flat-button class="m-1"
                                  color="primary" type="button" mat-icon-button matSuffix *ngIf="!file2.empty"
                                  (click)="fileMasterPicView(Constants.SP_TYPE_COMP)">
                              <mat-icon>pageview</mat-icon>
                          </button>
                          <button matTooltip="{{'GENERIC.action.delete' |translate}}" mat-flat-button class="m-1" color="warn"
                                  type="button" mat-icon-button matSuffix *ngIf="!file2.empty"
                                  (click)="removeMasterPicFile(Constants.SP_TYPE_COMP)">
                              <mat-icon>clear</mat-icon>
                          </button>
                          <mat-hint>{{'SP.commRegNumPic'|translate}}</mat-hint>
                          <mat-error *ngIf="form.controls.commRegFile.errors?.accept">{{'validation.file.type.error'|translate}}</mat-error>
                          <mat-error *ngIf="form.controls.commRegFile.errors?.maxSize">{{'validation.file.size.error'|translate}}</mat-error>
                      </mat-form-field>

                      <mat-form-field class="w-100"    *ngIf="form.controls.typeId.value==Constants.SP_TYPE_COMP">
                          <input matInput  placeholder="{{'sv.locationAddress'| translate}}" formControlName="organisationAddress">
                          <mat-error *ngIf="form.controls.organisationAddress.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                      </mat-form-field>

                      <mat-form-field class="w-100" *ngIf="form.controls.typeId.value==Constants.SP_TYPE_INDIV">
                          <input matInput placeholder="{{'registration.middleName'| translate}}" formControlName="middleName">
                      </mat-form-field>


                      <mat-form-field class="w-100">
                          <input matInput  placeholder="{{'registration.phoneNum'| translate}}" formControlName="phoneNumber">
                          <mat-error *ngIf="form.controls.phoneNumber.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                          <mat-error *ngIf="form.controls.phoneNumber.hasError('ksaPhone')">{{'validation.ksa.phone'|translate}}</mat-error>
                      </mat-form-field>

                      <mat-form-field class="w-100">
                          <input matInput placeholder="{{'registration.password'| translate}}" formControlName="password" type="password"  >
                          <mat-error *ngIf="form.controls.password.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                          <mat-error *ngIf="form.controls.password.hasError('minlength')">{{'validation.min.password'|translate}}</mat-error>
                          <mat-error *ngIf="form.controls.password.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                      </mat-form-field>
                     </div>
                              <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p" >
                                  <mat-form-field class="w-100"    *ngIf="form.controls.typeId.value==Constants.SP_TYPE_INDIV">
                                      <input matInput  placeholder="{{'sv.locationAddress'| translate}}" formControlName="organisationAddress">
                                      <mat-error *ngIf="form.controls.organisationAddress.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                                  </mat-form-field>

                                  <mat-form-field class="w-100" *ngIf="form.controls.typeId.value==Constants.SP_TYPE_COMP" >
                                      <input  matInput placeholder="{{'SP.commRegNum'| translate}}" formControlName="commercialRegNum">
                                      <mat-error *ngIf="form.controls.commercialRegNum.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                                  </mat-form-field>

                                  <mat-form-field class="w-100">
                                      <input matInput placeholder="{{'registration.lastName' | translate}}" formControlName="lastName">
                                      <mat-error *ngIf="form.controls.lastName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                                      <mat-error *ngIf="form.controls.lastName.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                                  </mat-form-field>

                          <mat-form-field class="w-100">
                              <mat-select formControlName="cntryId"     placeholder="{{'registration.country'| translate}}" >
                                  <mat-option [value]=" "> --{{'GENERIC.select'|translate}} {{'registration.country' | translate }}--</mat-option>
                                  <mat-option [value]="item.value" *ngFor="let item of sysCountries">{{isArabicLang() ? item.nameAr : item.nameEn }} </mat-option>
                              </mat-select>
                              <mat-error *ngIf="form.controls.cntryId.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                          </mat-form-field>



                                  <mat-form-field class="w-100">
                                      <input matInput placeholder="{{'registration.confirmPassword'| translate}}" formControlName="confirmPassword" type="password">
                                      <mat-error *ngIf="form.controls.confirmPassword.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                                      <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')">{{'validation.password.Notmatch'|translate}}</mat-error>
                                  </mat-form-field>

                          </div>
                              <ng-container>
                              <mat-checkbox  formControlName="agreement"  class="mx-1">{{'SP.agreement'|translate}}
                                  <button matTooltip="{{'GENERIC.action.view' |translate}}"   class="m-1"
                                          color="primary" type="button" mat-icon-button
                                          (click)="agreementView()">
                                      <mat-icon>pageview</mat-icon>
                                  </button>
                              </mat-checkbox>

                              </ng-container>
                          </div>


                          <div *ngIf="loading" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
                              <mat-spinner color="accent"></mat-spinner>
                          </div>
                      </mat-card>

                      <br>
                      <button mat-raised-button  [disabled]="loading ||!this.form.valid" color="primary" class="mat-elevation-z12 box-button" type="submit">{{ 'GENERIC.save' | translate}}</button>
                  </mat-card-content>

              </mat-card>

         </form>

    </div>

  </mat-sidenav-container>
