<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100 " >

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">

              <mat-card class="p-0 mat-elevation-z24 box register">
                  <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                      <button   type="button" mat-fab color="accent" class="mat-elevation-z12" >
                          <mat-icon>person_add</mat-icon>
                      </button>
                      <span class="box-content-header">{{'registration.headline'| translate}}</span>
                      <a mat-button routerLink="/login">{{'registration.alreadyHasAccount'| translate}}</a>
                  </div>

                  <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">

                          <div  fxLayout="row wrap" >

                      <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="flex-p">
                          <mat-form-field class="w-100">
                            <input matInput placeholder="{{'registration.firstName'| translate}}" formControlName="firstName">
                            <mat-error *ngIf="form.controls.firstName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                              <mat-error *ngIf="form.controls.firstName.hasError('startWithSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                          </mat-form-field>

                          <mat-form-field class="w-100">
                              <input matInput placeholder="{{'registration.email'| translate}}" formControlName="email">
                              <mat-error *ngIf="form.controls.email.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                              <mat-error *ngIf="form.controls.email.errors?.email">{{'validation.err.email'|translate}}</mat-error>
                          </mat-form-field>

                          <mat-form-field class="w-100">
                              <input matInput placeholder="{{'registration.password'| translate}}" formControlName="password" type="password"  >
                              <mat-error *ngIf="form.controls.password.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                              <mat-error *ngIf="form.controls.password.hasError('minlength')">{{'validation.min.password'|translate}}</mat-error>
                              <mat-error *ngIf="form.controls.password.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                          </mat-form-field>


                              </div>

                    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="flex-p">


                            <mat-form-field class="w-100">
                                <input matInput placeholder="{{'registration.lastName'| translate}}" formControlName="lastName">
                                <mat-error *ngIf="form.controls.firstName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                                <mat-error *ngIf="form.controls.firstName.hasError('startWithSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                            </mat-form-field>

                        <mat-form-field class="w-100">
                            <input matInput placeholder="{{'registration.userName'| translate}}" formControlName="userName">
                            <mat-error *ngIf="form.controls.userName.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                            <mat-error *ngIf="form.controls.userName.hasError('minlength')">{{'validation.min.userName'|translate}}</mat-error>
                            <mat-error *ngIf="form.controls.userName.hasError('hasSpace')">{{'validation.hasSpace'|translate}}</mat-error>
                            </mat-form-field>

                        <mat-form-field class="w-100">
                            <input matInput placeholder="{{'registration.confirmPassword'| translate}}" formControlName="confirmPassword" type="password">
                            <mat-error *ngIf="form.controls.confirmPassword.errors?.required">{{'GENERIC.required' | translate}}</mat-error>
                            <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')">{{'validation.password.Notmatch'|translate}}</mat-error>
                        </mat-form-field>

                         </div>
                          </div>

                          <mat-radio-group formControlName="typeId" >
                              <mat-radio-button [value]="Constants.SP_TYPE_COMP" class="mx-1">{{'SP.type.organisation'| translate}}</mat-radio-button>
                              <mat-radio-button [value]="Constants.SP_TYPE_INDIV" class="mx-1">{{'SP.type.individual'| translate}}</mat-radio-button>
                          </mat-radio-group>

                      </mat-card>
                      <button mat-raised-button  [disabled]="submitted"  color="primary" class="mat-elevation-z12 box-button" type="submit">{{ 'GENERIC.save' | translate}}</button>
                  </mat-card-content>
                  <!--[disabled]="!form.valid"-->
              </mat-card>

         </form>

    </div>

  </mat-sidenav-container>
