<div  style="padding: 1% 5%;">
    <div  class="flex-p" >
        <!--start card   -->
        <mat-card class="custom-card">


            <!--start card header  -->
            <mat-card-header class="bg-primary" fxLayoutAlign="space-between center">
                <mat-card-title class="p-1"><h6>{{'USERS.title'|translate}}</h6></mat-card-title>
                <!--            [matMenuTriggerFor]="generalAction" #menuTrigger="matMenuTrigger"-->
<!--                *hasPermission="permsEnum.ADMIN_ADD_RELATED_USERS"-->
                <button (click)="addUser()"  mat-icon-button >
                    <mat-icon>person_add</mat-icon>
                </button>

            </mat-card-header>
            <!--end card header  -->


            <!--start card content  -->
            <mat-card-content class="p-">


                <!-- start include App filter Component -->
                <app-filter-form  [componentObject]="this"></app-filter-form>
                <!-- end include App filter Component -->


                <!--                  <div  class="flex-p" >-->
                <!--start table  -->   <!--  matSortDisableClear matSortDirection="desc"-->
                <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                           (matSortChange)="sortColumn($event)">

                    <!--      <ng-container matColumnDef="id">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>
                                  <label class="table-cell-light">{{'USERS.id'| translate}}</label>
                              </mat-header-cell>
                              <mat-cell *matCellDef="let userRep"> {{userRep.user.id}} </mat-cell>
                          </ng-container>-->

                    <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.firstName'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="lastName">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.lastName'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="userName">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.userName'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="country">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.country'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{user.country? user.country.nameAr:''}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.city'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let userRep"> {{userRep.city? userRep.user.city.nameAr:''}} </mat-cell>
                    </ng-container>-->

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'USERS.status'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let user">
                            <mat-chip-list>
                                <mat-chip  color="{{user.status != 0 ?'warn':'primary'}}" selected="true"  class="info-chip">
                                    <!-- <mat-icon class="icon-sm">trending_up</mat-icon>37%&ndash;&gt;-->
                                    {{(user.status== 0 ? 'GENERIC.status.active'  : 'GENERIC.status.inActive') | translate }}
                                </mat-chip>
                            </mat-chip-list>

                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="comments">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'GENERIC.comments'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let user">
                            <mat-chip-list *ngIf="user.masterUserFlag == 1">
                                <mat-chip  color="accent" selected="true"  class="info-chip">
                                    {{'USERS.masterUser'  | translate }}
                                </mat-chip>
                            </mat-chip-list>


                        </mat-cell>
                    </ng-container>




                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'GENERIC.actions'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let user">


                        <!--    <ng-container *hasPermission="permsEnum.ADMIN_DEACTIVATE_RELATED_USERS">
                                <button  *ngIf="user.status  == 0"  mat-button color="warn" (click)="deActivateUser(user.id)">
                                    <mat-icon>block</mat-icon>
                                    <span>{{'GENERIC.action.deactivate'|translate}}</span>
                                </button>
                            </ng-container>-->

                    <!--        <ng-container *hasPermission="permsEnum.ADMIN_ACTIVATE_RELATED_USERS">
                                <button    *ngIf="user.status  != 0 " mat-button color="primary" (click)="activateUser(user.id)">
                                    <mat-icon>done</mat-icon>
                                    <span>{{'GENERIC.action.activate'|translate}}</span>
                                </button>
                            </ng-container>-->

                        </mat-cell>
                    </ng-container>
                    <!--end Actions container -->


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <!--end table  -->



            </mat-card-content>
            <!--end card content  -->

            <!--start include  paginator -->
            <app-pagination [componentObject]="this"></app-pagination>
            <!--end  include paginator -->

        </mat-card>
        <!--start card   -->




        <!--spinner-->
        <div *ngIf="!dataSource" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
            <mat-spinner color="primary"></mat-spinner>
        </div>


    </div>
</div>
