<div  style="padding: 1% 1%;" fxLayout="column" fxLayoutGap="15px">
        <!-- start include App filter Component -->
        <app-filter-form  [componentObject]="this"></app-filter-form>
        <!-- end include App filter Component -->

        <!--start card   -->
        <mat-card  >
            <div    fxLayout="column" fxLayoutGap="15px">
            <!--start card header  -->
          <mat-card-header class="bg-primary" fxLayoutAlign="space-between center">
                <mat-card-title class="p-1"><h6>{{'MENU.emps'|translate}}</h6></mat-card-title>
                <button (click)="prepareAddEmployee()"  mat-icon-button >
                    <mat-icon>person_add</mat-icon>
                </button>

            </mat-card-header>
            <!--end card header  -->


            <!--start card content  -->
            <mat-card-content >




                <!--                  <div  class="flex-p" >-->
                <!--start table  -->   <!--  matSortDisableClear matSortDirection="desc"-->
                <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                           (matSortChange)="sortColumn($event)">

                    <!--      <ng-container matColumnDef="id">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>
                                  <label class="table-cell-light">{{'USERS.id'| translate}}</label>
                              </mat-header-cell>
                              <mat-cell *matCellDef="let userRep"> {{userRep.user.id}} </mat-cell>
                          </ng-container>-->

                    <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.firstName'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let emp"> {{emp.firstName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="lastName">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.lastName'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let emp"> {{emp.lastName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="hijriDate">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'resv.date'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let emp"> {{emp.hijriDate|hijriFormat}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="country">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.country'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let emp"> {{emp.country? emp.country.nameAr:''}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'registration.city'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let emp"> {{emp.city?  emp.city.nameAr:''}} </mat-cell>
                    </ng-container>-->

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'USERS.status'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let emp">
                            <mat-chip-list>
                                <mat-chip  color="{{emp.status != 0 ?'warn':'primary'}}" selected="true"  class="info-chip">
                                    <!-- <mat-icon class="icon-sm">trending_up</mat-icon>37%&ndash;&gt;-->
                                    {{(emp.status== 0 ? 'GENERIC.status.active'  : 'GENERIC.status.inActive') | translate }}
                                </mat-chip>
                            </mat-chip-list>

                        </mat-cell>
                    </ng-container>






                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            <label class="table-cell-light">{{'GENERIC.actions'| translate}}</label>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let emp">

                            <!--    <ng-container *hasPermission="permsEnum.ADMIN_DEACTIVATE_RELATED_USERS">
                                    <button  *ngIf="user.status  == 0"  mat-button color="warn" (click)="deActivateUser(user.id)">
                                        <mat-icon>block</mat-icon>
                                        <span>{{'GENERIC.action.deactivate'|translate}}</span>
                                    </button>
                                </ng-container>-->

                            <ng-container >
                                <button mat-icon-button  mat-button color="primary" (click)="prepareEditEmployee(emp.empId)">
                                    <mat-icon>edit</mat-icon>
                                    <!--                                            <span>{{'GENERIC.action.edit'|translate}}</span>-->
                                </button>
                            </ng-container>

                            <ng-container >
                                <button mat-icon-button  mat-button   color="primary" (click)="viewEmployee(emp.empId)">
                                    <mat-icon>pageview</mat-icon>
                                    <!--                                    <span>{{'GENERIC.action.view'|translate}}</span>-->
                                </button>
                            </ng-container>

                        </mat-cell>



                    </ng-container>
                    <!--end Actions container -->


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <!--end table  -->



            </mat-card-content>
            <!--end card content  -->

            <!--start include  paginator -->
            <app-pagination [componentObject]="this"></app-pagination>
            <!--end  include paginator -->
            </div>
        </mat-card>
        <!--start card   -->




        <!--spinner-->
        <div *ngIf="!dataSource &&loadDataFlag" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
            <mat-spinner color="primary"></mat-spinner>
        </div>



</div>
