<div>
    <div fxLayoutAlign="end center" class="closeBtn">
        <button   matTooltip="{{'GENERIC.action.close' |translate}}"       type="button"    (click)="close()">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>

    <h2 mat-dialog-title>
        <span>{{'resv.view.title'|translate}} : {{svHiringReservation.reservationRefNumber}}</span>
    </h2>


        <mat-card class="mat-card-border">
            <mat-card-header>
                <mat-card-subtitle><h3>{{'resv.vehicle'|translate}}</h3></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <table style="width: 100%">
                    <tr>
                        <td><h5>{{'sv.nameAr'| translate}} </h5></td>
                        <td><label>{{svHiringReservation.vehicleInfo.nameAr}}</label></td>
                        <td><h5>{{'sv.nameEn'| translate}}  </h5></td>
                        <td><label>{{svHiringReservation.vehicleInfo.nameEn}}</label></td>
                    </tr>

                    <tr>
                        <td><h5>{{'sv.type'| translate}} </h5></td>
                        <td><label>{{svHiringReservation.vehicleInfo.typeName}}</label></td>

                    </tr>
                    <tr>
                        <td><h5>{{'registration.city'| translate}}</h5> </td>
                        <td><label>{{svHiringReservation.vehicleInfo.cityName}}</label></td>
                        <td><h5>{{'registration.country'| translate}} </h5> </td>
                        <td><label>{{svHiringReservation.vehicleInfo.countryName}}</label></td>
                    </tr>

                    <tr>
                        <td><h5>{{'sv.locationAddress'| translate}}</h5> </td>
                        <td><label>{{svHiringReservation.vehicleInfo.locationAddress}}</label></td>
                    </tr>

                </table>
                <br>
                <span style="font-weight: bold">{{'resv.services'|translate}}</span>
                <p fxLayout="row"  style="font-size: small">
                    <span>{{'sv.services.toilet'|translate}}</span>
                    <span>   <mat-icon
                            [color]=" svHiringReservation.vehicleInfo.hasToiletValue ? 'primary':'warn'">{{svHiringReservation.vehicleInfo.hasToiletValue ? 'done' : 'highlight_off'}}</mat-icon> </span>
                    <span>|</span>
                    <span>{{'sv.services.kitchen'|translate}} </span>
                    <span>   <mat-icon
                            [color]=" svHiringReservation.vehicleInfo.hasKitchenValue ? 'primary':'warn'">{{svHiringReservation.vehicleInfo.hasKitchenValue ? 'done' : 'highlight_off'}}</mat-icon> </span>
                    <span>|</span>
                    <span>{{'sv.services.emergencyTools'|translate}}</span>
                    <span>   <mat-icon
                            [color]=" svHiringReservation.vehicleInfo.hasEmergencyToolsValue ? 'primary':'warn'">{{svHiringReservation.vehicleInfo.hasEmergencyToolsValue ? 'done' : 'highlight_off'}}</mat-icon> </span>
                    <span>|</span>
                    <span>{{'sv.services.fishingTools'|translate}}</span>
                    <span>   <mat-icon
                            [color]=" svHiringReservation.vehicleInfo.hasFishingToolsValue ? 'primary':'warn'">{{svHiringReservation.vehicleInfo.hasFishingToolsValue ? 'done' : 'highlight_off'}}</mat-icon> </span>

                </p>
            </mat-card-content>
        </mat-card>
        <br>


    <mat-card class="mat-card-border">
        <mat-card-header>
            <mat-card-subtitle><h3>{{'resv.data'|translate}}</h3></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table style="width: 100%">

                <tr>
                    <td><h5>{{'resv.number'| translate}} </h5></td>
                    <td><label>{{svHiringReservation.reservationRefNumber}}</label></td>
                    <td><h5>{{'resv.orgName'| translate}}  </h5></td>
                    <td><label>{{svHiringReservation.orgName}}</label></td>
                </tr>

                <tr>
                    <td><h5>{{'resv.customer'| translate}} </h5></td>
                    <td><label>{{svHiringReservation.customerName}}</label></td>
                </tr>

                <tr>
                    <td><h5>{{'USERS.status'| translate}}  </h5></td>
                    <td>   <mat-chip  color="{{svHiringReservation.statusColor}}" selected="true"  class="info-chip">
                        {{svHiringReservation.statusStr | translate }}
                    </mat-chip>
                    </td>

                    <td><h5>{{'resv.exec.status'| translate}}  </h5></td>
                    <td>   <mat-chip  color="{{svHiringReservation.executeStatusColor}}" selected="true"  class="info-chip">
                        {{svHiringReservation.executeStatusStr | translate }}
                    </mat-chip>
                    </td>


                </tr>

                <tr>
                    <td><h5>{{'resv.date'| translate}} </h5></td>
                    <td><label>{{svHiringReservation.startDate |date}}</label></td>
                    <td><h5>{{'resv.numOfPersons'| translate}}  </h5></td>
                    <td><label>{{svHiringReservation.numberOfPersons}}</label></td>
                </tr>

                <tr>
                    <td><h5>{{'resv.from'| translate}} </h5></td>
                    <td><label>{{svHiringReservation.fromHour |hoursPipe}}</label></td>
                    <td><h5>{{'resv.to'| translate}} </h5> </td>
                    <td><label>{{svHiringReservation.toHour |hoursPipe}}</label></td>
                </tr>

                <tr>
                    <td><h5>{{'resv.price'| translate}} </h5></td>
                    <td>
                        <mat-chip  color="primary" selected="true"  class="info-chip">
                            {{svHiringReservation.totalPrice}} {{'GENERIC.SR'|translate}}
                        </mat-chip>
                        </td>

                </tr>

            </table>
            <br>

        </mat-card-content>
    </mat-card>
<br/>
    <mat-card class="mat-card-border">
        <mat-card-header>
            <mat-card-subtitle><h3>{{'resv.price.details'|translate}}</h3></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="svHiringReservation.priceDetList" style="width: 100%" class="mat-elevation-z8">

                <ng-container matColumnDef="seq">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}</td>
                    <td mat-footer-cell *matFooterCellDef style="font-weight: bold"> {{'resv.total'|translate}} </td>
                </ng-container>


                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> {{'resv.service.type'| translate}} </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.serviceTypeStr}} </td>
                    <td mat-footer-cell *matFooterCellDef>   </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> {{'resv.price'| translate}}  </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.priceWithoutVat}} </td>
                    <td mat-footer-cell *matFooterCellDef>   </td>
                </ng-container>


                <ng-container matColumnDef="vat">
                    <th mat-header-cell *matHeaderCellDef> {{'resv.vat'| translate}} </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.vatAmount  }} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="priceWithVat">
                    <th mat-header-cell *matHeaderCellDef> {{'resv.priceWithVat'| translate}}  </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.priceWithVat  }} </td>
                  <td mat-footer-cell *matFooterCellDef style="font-weight: bold">
                      <mat-chip  color="primary" selected="true"  class="info-chip">
                          {{svHiringReservation.totalPrice}} {{'GENERIC.SR'|translate}}
                      </mat-chip>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                 <tr style="background-color: lightgrey" mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
            <br>

        </mat-card-content>
    </mat-card>

    <div *ngIf="submitted" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>
</div>

