   <div (mouseleave)="close()">
    <mat-card>
        <mat-card-content>
            <div >
                <div *ngIf="loading" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
                    <mat-spinner color="primary"></mat-spinner>
                </div>
<!--                previewUrl  "-->
                <img  [src]="fileImage.userPhotoBase64" *ngIf="fileType==FileTypeEnum.IMAGE"  height="400" width="450" />
                <pdf-viewer  [src]="fileImage.userPhotoBase64" *ngIf="  fileType==FileTypeEnum.PDF" [original-size]="false" style="width: 600px;height: 350px"  ></pdf-viewer>

            </div>
        </mat-card-content>

    </mat-card>
   </div>

