<div  style="padding: 1% 5%;">
<div  class="flex-p" >
    <!--start card   -->
    <mat-card class="custom-card">


        <!--start card header  -->
        <mat-card-header class="bg-primary" fxLayoutAlign="space-between center">
            <mat-card-title class="p-1"><h6>{{'GENERIC.sp'|translate}}</h6></mat-card-title>
        </mat-card-header>
        <!--end card header  -->


        <!--start card content  -->
        <mat-card-content class="p-">

            <!-- start include App filter Component -->
            <app-filter-form  [componentObject]="this"></app-filter-form>
            <!-- end include App filter Component -->


            <!--                  <div  class="flex-p" >-->
            <!--start table  -->   <!--  matSortDisableClear matSortDirection="desc"-->
            <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                       (matSortChange)="sortColumn($event)" >


                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <label class="table-cell-light">{{'USERS.id'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let sp"> {{sp.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'USERS.name'|translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let sp"> {{sp.organisationName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'sv.type'|translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let sp"> {{sp.typeStr}} </mat-cell>
                </ng-container>

               <ng-container matColumnDef="commRegNum">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'SP.commRegNum'|translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let sp"> {{sp.commercialRegNum}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="IdNo">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'SP.IdNo'|translate}}</label>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let sp"> {{sp.idNo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light">{{'USERS.status'| translate}}</label>
                    </mat-header-cell>
                    <mat-cell    *matCellDef="let sp">
                        <mat-chip-list>
                        <mat-chip  color="{{sp.status != 0 ?'warn':'primary'}}" selected="true"  class="info-chip">
                        <!-- <mat-icon class="icon-sm">trending_up</mat-icon>37%&ndash;&gt;-->
                   {{(sp.status == 0 ? 'GENERIC.status.active'  : 'GENERIC.status.inActive') | translate }}
                    </mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>



                <!--start Actions container in cell  -->
              <ng-container matColumnDef="actions" >
                    <mat-header-cell *matHeaderCellDef>
                        <label class="table-cell-light"> {{'GENERIC.actions'|translate}} </label>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let perm"   >
                   <ng-container *hasPermission="permsEnum.ADMIN_ACTION_PERMISSIONS_ACTIVATE_DEACTIVATE" >
                          <button   *ngIf="perm.status == 0"  mat-button color="warn" (click)="stopPermission(perm.id)">
                        <mat-icon>block</mat-icon>
                        <span>{{'GENERIC.action.deactivate'|translate}}</span>

                       </button>

                       <button    *ngIf="perm.status != 0" mat-button color="primary" (click)="activatePerm(perm.id)">
                        <mat-icon>done</mat-icon>
                        <span>{{'GENERIC.action.activate'|translate}}</span>
                       </button>
                       </ng-container>
                    </mat-cell>

                </ng-container>
                <!--end Actions container -->


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <!--end table  -->



        </mat-card-content>
        <!--end card content  -->

        <!--start include  paginator -->
        <app-pagination [componentObject]="this"></app-pagination>
        <!--end  include paginator -->

    </mat-card>
    <!--start card   -->





    <!--spinner-->
    <div *ngIf="!dataSource" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>

<!--    &lt;!&ndash;  menu trigger for genral action for table &ndash;&gt;
    <mat-menu #generalAction="matMenu" xPosition="before" overlapTrigger="true">
                  <span (mouseleave)="menuTrigger.closeMenu()">
                            <button color="primary" mat-button type="button" (click)="viewData(null)">
                            <mat-icon> add</mat-icon>
                                <span>{{'GENERIC.action.add'|translate}}</span>
                            </button>
                  </span>
    </mat-menu>-->
</div>
</div>
